div {
    background-color: white;
}
.loader {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 20px #f3f3f3;
    border-top: 20px solid #3498db;
    animation: spinAnimate 3s ease-in 0s infinite normal;
}


@keyframes spinAnimate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}




