
.loader {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 20px #deddd9;
    border-top: 20px solid #296ef0;
    animation: spinAnimate 3s ease-in 0s infinite normal;
}


@keyframes spinAnimate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}




div {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    position: absolute;
    top: 100px;
    left: 100px;
}